@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',serif;
   margin:0px;  // white margin out

}
#servicesinfo {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
}
input[type="text"]
{
    background: transparent;
    border:solid 1px;
    border-color: white;
    color: white;
}
#message {
  color: white;
  vertical-align: top;
}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}
/* hover effect on the images*/
